* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  background-image: url('./images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}
